/**************************************************
I personally like to have this kind of comment on 
css for each page. So we can find the one easily since
all of us will be doing it together. 
**************************************************/

/**************************************************/
/****************** FOR ALL PAGE ******************/
/**************************************************/
* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 100px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

#reactagram-logo {
  background-size: cover;
  justify-content: center;
  height: 60px;
  width: 200px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

#react-logo,
#profile-photo {
  display: inline-block;
  position: absolute;
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  cursor: pointer;
}

#react-logo {
  background-image: url('./images/reactagram_logo_new.png');
  left: 10px;
}

#profile-photo {
  background-image: url('./images/yerim.png');
  right: 50px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding: 1000px 30px 0px 0px;
  margin-top: -995px;
  background: rgba(255, 255, 255, 0.87);
  top: 0;
  backdrop-filter: blur(6px);
}
.nav-shadow {
  position: fixed;
  width: 100vw;
  height: 55px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 100;
}

/* Loading Div Animation */

.loading-div {
  background-image: url('https://i.imgur.com/Tt1abjh.gif');
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 300px;
  margin: 24vh auto 0 auto;
}

/**************************************************/
/*************** SHOW COMMENTS PAGE ***************/
/**************************************************/

#login-page #reactagram-logo {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/**************************************************/
/****************** LANDING PAGE ******************/
/**************************************************/

#all-posts,
#profile-posts-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-div,
.profile-posts-div {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.19);
  height: 420px;
  width: 300px;
  margin: 25px;
  display: inline-block;
  transition: 0.3s;
}

.post-div:hover,
.profile-posts-div:hover {
  transform: scale(1.02, 1.02);
  transition: 0.5s;
}

.post-photos,
.my-posts {
  width: 100%;
  height: 300px;
}

.post-photos:hover {
  cursor: pointer;
}

.post-caption {
  margin: 0;
  font-size: 16px;
  text-indent: 6px;
  letter-spacing: 1px;
}

.user-profile {
  height: 47px;
}

.profile-picture {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 21px;
  margin: 3px 0 0 7px;
}

.user-name {
  display: inline-block;
  margin: 17px 0 0 10px;
  font-weight: lighter;
}

.like-button,
.comment-button {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.like-button {
  background-image: url('./images/likes.png');
}

.like-button:hover {
  background-image: url('./images/liked.png');
  cursor: pointer;
}

.comment-button {
  background-image: url('./images/comment_bubble.png');
  margin-left: 26px;
}

.like-count {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 25px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: lighter;
}

/**************************************************/
/****************** PROFILE PAGE ******************/
/**************************************************/

#profile-posts-section {
  margin-top: 20px;
}

#profile-photo-div,
#profile-info-div {
  display: inline-block;
  height: 180px;
}

#profile-photo-div {
  width: 35%;
  float: left;
}

.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 150px;
  float: right;
}

#profile-info-div {
  width: 65%;
  float: right;
}

#profile-info-div .user-name,
.user-email {
  padding-left: 100px;
  margin: 10px 0;
}

#profile-info-div .user-name {
  font-size: 34px;
  font-weight: lighter;
  float: left;
}

.user-email {
  font-size: 22px;
  font-weight: normal;
}

.edit-button-div {
  margin-top: 30px;
}

.edit-profile-button {
  width: 130px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  float: left;
  margin: 12px 0 10px 30px;
  background-color: white;
}


/***** MEDIA QUERY FOR PROFILE PAGE *****/
@media screen and (max-width: 700px) {
  #profile-page {
    padding-top: 0px;
  }

  #profile-photo-div,
  #profile-info-div {
    height: 100px;
  }

  #profile-photo-div {
    width: 40%;
  }

  #profile-info-div {
    width: 60%;
  }

  .profile-photo {
    width: 100px;
    height: 100px;
  }

  #profile-info-div .user-name,
  .user-email {
    padding-left: 30px;
  }

  #profile-info-div .user-name {
    font-size: 25px;
  }

  .user-email {
    font-size: 14px;
  }

  .edit-button-div {
    margin-top: 0;
  }

  .edit-profile-button {
    height: 22px;
    font-size: 12px;
    margin: 0 0 0 30px;
  }

  #profile-posts-section {
    margin-top: 30px;
  }
}

/**************************************************/
/***************** SINGLE POST PAGE ***************/
/**************************************************/

.single-post-parent-div {
  width: 500px;
  height: 700px;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.single-post-container-div {
  height: 700px;
  width: 500px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  margin: 0;
  top: 100px;
  z-index: 10;
}

.single-post-image-div {
  width: 100%;
  height: 500px;
}

.likes-and-comments {
  position: relative;
  display: inline-block;
  height: 53px;
  width: 200px;
  margin: 14px;
}

.likes-div {
  background-image: url('https://i.imgur.com/lkJnRud.png');
  background-size: cover;
  background-position: center;
  height: 21px;
  width: 20px;
  display: inline-block;
  padding-left: 2px;
  cursor: pointer;
}

.likes-div p {
  font-size: 15pt;
  margin: 0 0 0 31px;
  font-weight: lighter;
}

.comments-div {
  background-image: url('https://i.imgur.com/ksEPmRn.png');
  background-size: cover;
  background-position: center;
  height: 22px;
  width: 22px;
  margin: -3px;
  display: inline-block;
  margin-left: 51px;
}

.caption-text {
  font-size: 20pt;
  width: 450px;
  margin: 16px 0px 0px 10px;
}

.new-post {
  color: white;
  height: 60px;
  width: 60px;
  background: rgba(221, 80, 143, 0.9);
  position: fixed;
  bottom: 42px;
  right: 70px;
  border-radius: 30px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 21pt;
  line-height: 55px;
  z-index: 10;
}
.landing-page-backdrop {
  position: relative;
  top: -700px;
  z-index: 2;
  filter: blur(6px);
  opacity: 0.4;
}
.return-home-div {
  position: absolute;
  top: -43px;
  width: 100vw;
  padding-bottom: 100%;
  height: 100%;
  z-index: 3;
}


/*@media screen and (max-width: 414px) {
  
  #profile-photo {
    background-image: url('./images/yerim.png');
    right: 80px;
  }

  #reactagram-logo {
    margin-left: 45px;
    margin-right: 0;
  } 

  .single-post-image-div {
    height: 400px;

  }
}*/


/**************************************************/
/*************** SHOW COMMENTS PAGE ***************/
/**************************************************/

#show-comments-section {
}

#show-comments-div {
  background-color: skyblue;
  width: 550px;
}
.delete-button:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/**************************************************/
/***************** CREATE POST PAGE ***************/
/**************************************************/
/*//remove when styling begins*/
.post-form-component {
  margin-top: 300px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 56px;
  color: white;
  font-weight: normal;
  font-size: 20pt;
  transition: 0.4s;
}
.new-post:hover {
  transition: 0.4s;
  background: rgba(37, 179, 155, 1);
  cursor: pointer;
}
.poster-info {
  position: relative;
  right: 2px;
  width: 150px;
  float: right;
  height: 33px;
  margin-top: 11px;
}
.post-profile-picture {
  height: 32px;
  width: 32px;
  border-radius: 15px;
  position: relative;
}
.post-username {
  margin: 0;
  position: relative;
  top: -26px;
  left: 41px;
  font-size: 14pt;
  font-weight: lighter;
  width: 136px;
}

.create-form-component {
  margin-top: 200px;
}
/**************************************************/
/****************** CREATE COMMENT PAGE ***********/
/**************************************************/
/*//remove when styling begins*/
.comment-form-component {
  margin-top: 200px;
}
