/**************************************************
I personally like to have this kind of comment on 
css for each page. So we can find the one easily since
all of us will be doing it together. 
**************************************************/


/**************************************************/
/****************** FOR ALL PAGE ******************/
/**************************************************/

body {
  margin: 0;
  padding: 0;
}

#reactagram-logo {
  background-image: url('./images/reactagram.png');
  background-size: cover;
  height: 300px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(.5,.5);
  position: relative;
  top: -110px;
}

#profile-photo {
  background-image: url('./images/yerim.png');
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  position: relative;
  top: 8px;
  margin: 0 20px;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background: white;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, .3);
}

ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 30px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 30px 10px 10px 10px;
  font-size: 20px;
}

/**************************************************/
/****************** LANDING PAGE ******************/
/**************************************************/

#all-posts {
  display: flex;
  flex-wrap: wrap;

}

.post-div {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .19);
  height: 400px;
  width: 300px;
  margin: 30px;
  margin-top: 100px;
  display: inline-block;
}

.post-photos {
  width: 100%;
  height: 300px;
  position: relative;
  top: 12px;
  background-size: cover;
}


